<!DOCTYPE html>
<html>
  <head>
    <title>NFO Viewer</title>
  </head>
  <body>
    This site is an NFO viewer for the files on <a href="http://textfiles.com/piracy/">http://textfiles.com/piracy/</a>. To use, just rewrite the URL like so:

    <pre>http://textfiles.com/piracy/NFO/arcade.nfo</pre>

    becomes

    <pre>http://nfoviewer.herokuapp.com/NFO/arcade.nfo</pre>
  </body>
</html>
