<!DOCTYPE html>
<html>
  <head>
    <title>NFO Viewer</title>

    <style>
      pre {
        font-family: "Menlo", monospace;
      }
    </style>
  </head>
  <body>
    <pre>
      {{nfo}}
    </pre>
  </body>
</head>
